:root {
    --orange: rgb(255, 98, 0);
    --pale-orange: rgb(255, 243, 230);
    --very-dark-blue: rgb(27, 32, 40);
    --dark-grayish-blue: rgb(50, 59, 76);
    --grayish-blue: rgb(156, 169, 193);
    --light-grayish-blue: rgb(236, 242, 254);
    --white: rgb(255, 255, 255);
    --black: rgba(0, 0, 0, 0.75);
    --gray: rgba(128, 128, 128, 1);
}