@mixin backgroundImage($url: 'https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200') {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray);

    > div {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .left {
        .logo {
            width: 138px;
            height: 20px;
            
            @include backgroundImage('../../images/logo.svg');
        }

        .navigation {
            display: flex;
            gap: 2rem;

            padding: 0.2rem 0.4rem;

            cursor: pointer;

            > a {
                padding: 2rem 0;

                border-bottom: 4px solid transparent;
                transition: border-bottom 0.2s ease-in-out;

                &:global.active {
                    border-bottom: 4px solid var(--orange);
                }

                &:hover {
                    border-bottom: 4px solid var(--orange);   
                }
            }
        }
    }

    .right {

        >div {
            width: 2rem;
            height: 2rem;
        }

        .cart {
            @include backgroundImage('../../images/icon-cart.svg');

            cursor: pointer;
        }

        .user {
            @include backgroundImage();

            border: 2px solid transparent;
            border-radius: 50%;

            transition: border 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                border: 2px solid var(--orange);
            }
        }
    }
}